body {
  padding: 1em;
}

h1 {
  float: left;
  margin: 0 0 .5em;
}

.notification {
  border: 1px solid #0f0;
  background-color: #cfc;
  padding: 0.5em;
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: #0000ff;
}

a:hover {
  color: #6666ff;
}

a.new_memo {
  float: right;
  clear: both;
  font-size: 120%;
  margin-top: .5em;
}

.memo .text {
  clear: both;
  border: 1px solid #ccc;
  padding: 0 1em;
  margin: 1em 0;
}

.memo form.remembering {
  float: right;
  margin-bottom: 1em;
}

.memo form.forgetting {
  margin-bottom: 1em;
}

body.memos.index form.new_memo {
  display: none;
  position: absolute;
  width: 50%;
  margin: 1em 20%;
  padding: 1em;
  z-index: 1;
  background-color: #fff;
  border: 3px outset #ccc;
}

body.memos.index form.new_memo a.cancel {
  margin-left: 1em;
}

form.new_memo label {
  display: block;
  font-size: 1.5em;
}

form.new_memo textarea {
  width: 100%;
  height: 10em;
  border: 1px solid #ccc;
  margin: 1em 0;
}

#to_go {
  clear: both;
  float: right;
  font-size: 120%;
  text-align: right;
}

#to_go .count {
  color: #f00;
}

#to_go #brushed_up {
  display: block;
}

a.edit_user, a.log_in, a.log_out {
  clear: left;
  float: left;
  margin-bottom: 1em;
}
